In [1]:
from collections import Counter

import pandas as pd

In [61]:
card_strength = ['A', 'K', 'Q', 'J', 'T', '9', '8', '7', '6', '5', '4', '3', '2']
hand_list = [
    'Five of a kind', 
    'Four of a kind',
    'Full house',
    'Three of a kind',
    'Two pair',
    'One pair',
    'High Card'
]
hand_types = [
    [5], 
    [4, 1], 
    [3, 2], 
    [3, 1, 1], 
    [2, 2, 1], 
    [2, 1, 1, 1], 
    [1, 1, 1, 1, 1]
]

# order from weak to strong.
card_strength.reverse()
hand_list.reverse()
hand_types.reverse()


def calc_hand_point(hand):
    ''' 
    consider the hand as 13-numbering system
    and provide the number.
    '''
    point = 0
    for i, x in enumerate(hand[::-1]):
        point_ = card_strength.index(x)
        point += point_ * (13**i)
        #print(f"{x}: {13**i}, {point}")
    return point


def load_data(is_test=False, is_first=True):
    if is_test:
        input_txt = "input_.txt"
    else:
        input_txt = "input.txt"

    with open(input_txt) as f:
        lines = f.read().strip().split('\n')

    hands       = []
    hands_      = []
    hand_ids    = []
    hand_names  = []
    hand_points = []
    points      = []
    for line in lines:
        hand_, point = line.split(' ')
        point = int(point)

        if is_first:
            hand = hand_
        else:
            if 'J' in hand_:
                c = Counter(hand_)
                hand = hand_.replace('J', c.most_common(1)[0][0])
            else:
                hand = hand_
        
        # order the cards depending on its occurance. 
        hand_type_ = [x[1] for x in Counter(hand).most_common(5)]
        hand_id   = hand_types.index(hand_type_)
        hand_name = hand_list[hand_id]
        if is_first:
            hand_point = calc_hand_point(hand)
        else:
            hand_point = calc_hand_point(hand_)
    
        hands_.append(hand_)
        hands.append(hand)
        hand_ids.append(hand_id)
        hand_names.append(hand_name)
        hand_points.append(hand_point)
        points.append(point)    
        # print(hand)
        # print(f"hand_id: {hand_id}")
        # print(f"hand_name: {hand_name}")
        # print(f"hand_point: {hand_point}")
        
    df = pd.DataFrame()
    df['hand_']      = hands_
    df['hand']       = hands
    df['hand_id']    = hand_ids
    df['hand_name']  = hand_names
    df['hand_point'] = hand_points
    df['point']      = points
    df = df.sort_values(['hand_id', 'hand_point'], ascending = [True, True], ignore_index=True)
    
    return df

In [64]:
df = load_data(is_test=True, is_first=True)
df

   hand_   hand  hand_id        hand_name  hand_point  point
0  32T3K  32T3K        1         One pair       29937    765
1  KTJJT  KTJJT        2         Two pair      333393    220
2  KK677  KK677        2         Two pair      339084     28
3  T55J5  T55J5        3  Three of a kind      235706    684
4  QQQJA  QQQJA        3  Three of a kind      309399    483

## part 1

In [66]:
df = load_data(is_test=False, is_first=)
total = 0
for index, row in df.iterrows():
    point = row["point"]
    total += (index+1) * point 
    #print(f"{index+1} x {point}")
print(f"total winnings: {total}")

total winnings: 251136060