In [29]:
import numpy as np
import pandas as pd

In [54]:
with open('input.txt') as f:
    #lines = f.read().strip().split('\n')
    lines = f.read().strip()

In [31]:
## part 1
# rock: A/X->1, 
# paper: B/Y->2, 
# scissors: C/Z->3
lines_ = lines.replace('A', '1').replace('B', '2').replace('C', '3')
lines_ = lines_.replace('X', '1').replace('Y', '2').replace('Z', '3')
lines_ = lines_.strip().split('\n')

In [32]:
def get_outcome(line):
    shape1, shape2 = line.split(' ')
    shape1 = int(shape1) # opponent
    shape2 = int(shape2) # me

    # point_shape
    point_shape = shape2

    # point_win
    # rock1, paper2, scissors3
    result = shape1-shape2
    if result == 0:
        point_win = 3
    elif (result == 1) or (result == -2):
        point_win = 0
    elif (result == -1) or (result == 2):
        point_win = 6
        
    return point_shape, point_win

In [33]:
# i = 3
# point_shape, point_win = get_outcome('2 1')
# print(line)
# print(f'shape1: {shape1}, shape2: {shape2}')
# print(f'shape {point_shape} + result {point_win}')

In [34]:
scores = []
for line in lines_:
    point_shape, point_win = get_outcome(line)
    scores.append(point_shape + point_win)
np.sum(scores)

17189

In [35]:
def get_outcome2(line):
    shape1, shape2_ = line.split(' ')
    shape1 = int(shape1) # opponent
    #shape2 = int(shape2) # me

    # point_shape
    #point_shape = shape2

    if shape1 == 1:
        if shape2_ == 'X':
            shape2 = 3
        elif shape2_ == 'Y':
            shape2 = 1
        elif shape2_ == 'Z':
            shape2 = 2
    elif shape1 == 2:
        if shape2_ == 'X':
            shape2 = 1
        elif shape2_ == 'Y':
            shape2 = 2
        elif shape2_ == 'Z':
            shape2 = 3
    elif shape1 == 3:
        if shape2_ == 'X':
            shape2 = 2
        elif shape2_ == 'Y':
            shape2 = 3
        elif shape2_ == 'Z':
            shape2 = 1

    point_shape = shape2
    if shape2_ == 'X':
        point_win = 0
    elif shape2_ == 'Y':
        point_win = 3
    elif shape2_ == 'Z':
        point_win = 6

    return point_shape, point_win

In [36]:
scores = []
lines_ = lines.replace('A', '1').replace('B', '2').replace('C', '3')
lines_ = lines_.split('\n')
for line in lines_:
    point_shape, point_win = get_outcome2(line)
    scores.append(point_shape + point_win)
np.sum(scores)

13490

In [76]:
lookup_list = [
    ["rock", "rock", 3],
    ["rock", "paper", 0],
    ["rock", "scissors", 6],
    ["scissors", "rock", 0],
    ["scissors", "paper", 6],
    ["scissors", "scissors", 3],
    ["paper", "rock", 6],
    ["paper", "paper", 3],
    ["paper", "scissors", 0]
              ]
column_names = ["shape_me", "shape_opponent", "point_win"]
df = pd.DataFrame(data=lookup_list, columns=column_names)

# add point of the shape
df['point_shape'] = df['shape_me'].replace('rock', 1).replace('paper', 2).replace('scissors', 3)
# total = shape + win/lose/draw
df['point_total'] = df['point_win'] + df['point_shape']

df

   shape_me shape_opponent  point_win  point_shape  point_total
0      rock           rock          3            1            4
1      rock          paper          0            1            1
2      rock       scissors          6            1            7
3  scissors           rock          0            3            3
4  scissors          paper          6            3            9
5  scissors       scissors          3            3            6
6     paper           rock          6            2            8
7     paper          paper          3            2            5
8     paper       scissors          0            2            2

In [77]:
with open('input.txt') as f:
    lines = f.read().strip().split('\n')

dic_opponent = {'A':'rock', 'B':'paper', 'C':'scissors'}
dic_me = {'X':'rock', 'Y':'paper', 'Z':'scissors'}

line = lines[0]
x = [dic_opponent.get(i, i) for i in list(line)]
x = [dic_me.get(i, i) for i in list(x)]
x.remove(' ')


print(x)

['rock', 'rock']

0    1
1    1
2    1
3    3
4    3
5    3
6    2
7    2
8    2
Name: shape_me, dtype: int64